[submodule ".asdf"]
	path = .asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons 
	url = https://github.com/alexanderjeurissen/ranger_devicons
