[submodule ".asdf"]
	path = .asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "/home/pat/.tmux/plugins/tpm"]
	path = /home/pat/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "/home/pat/.fzf"]
	path = /home/pat/.fzf
	url = https://github.com/junegunn/fzf.git
