[submodule ".asdf"]
	path = .asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons 
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule ".outpost/gui/slock-flexipatch"]
	path = .outpost/gui/slock-flexipatch
	url = git@github.com:hmngwy/slock-flexipatch.git
[submodule ".outpost/gui/dmenu-flexipatch"]
	path = .outpost/gui/dmenu-flexipatch
	url = git@github.com:hmngwy/dmenu-flexipatch.git
[submodule ".outpost/gui/dwm-flexipatch"]
	path = .outpost/gui/dwm-flexipatch
	url = git@github.com:hmngwy/dwm-flexipatch.git
[submodule ".outpost/gui/dwmblocks"]
	path = .outpost/gui/dwmblocks
	url = git@github.com:hmngwy/dwmblocks.git
[submodule ".outpost/cli/snapd"]
	path = .outpost/cli/snapd
	url = https://aur.archlinux.org/snapd.git
[submodule ".outpost/cli/yay"]
	path = .outpost/cli/yay
	url = https://aur.archlinux.org/yay.git
[submodule ".outpost/gui/surf"]
	path = .outpost/gui/surf
	url = https://git.suckless.org/surf
